{% extends "layout.html" %}

{% block title %}Data Reporter{% endblock %}

{% block content %}
  <h>Page 2</h>
  <form action="/next2" method="POST">
      <label for="comment">Comment:</label>
      <textarea name='data' class="form-control" rows="5" id="comment"></textarea>
      <button type="submit" value='Post' class="btn btn-outline-success btn-lg">Next</button>
  </form>
  <form action="/home" method="POST">
  <button type="submit" class="btn btn-outline-danger btn-lg">Home</button>
  </form>
  <p> {{sent}} </p>
{% endblock %}
